#  session 1 python basics

In [ ]:
1 #functions

In [ ]:
# function performs a particular task
#indentifaction -------> function()

In [2]:
print("hello world")

hello world

In [ ]:
2 #variables

In [3]:
a=12

In [4]:
b=45

In [5]:
a

12

In [6]:
b

45

In [8]:
c = a + b

In [9]:
c

57

In [10]:
a9 = 7

In [12]:
ap8 = a9

In [13]:
ap8

7

In [14]:
3 #data types in python

In [ ]:
#Integer--->int ---->12,1,2,100
#FLoat ---->float--->34.9,12,1,3,54
#boolean ----> bool --->True,False
#string -----> str----->"wfsffssa"

In [16]:
print(type(True))

<class 'bool'>

In [17]:
print(type(3))

<class 'int'>

In [18]:
print(type(34.9))

<class 'float'>

In [19]:
print(type("string"))

<class 'str'>

In [125]:
# sequential datatypes
#tuple----->()
#list------>[]
#set------->{}
#dict------>{}

In [22]:
var=23,56

In [23]:
var

(23, 56)

In [24]:
print(type(var))

<class 'tuple'>

In [25]:
mylist =[23,76,"hello",98.6,[45,56,12],True]
print(mylist)

[23, 76, 'hello', 98.6, [45, 56, 12], True]

In [26]:
print(type(mylist))

<class 'list'>

In [27]:
mylist[0]

23

In [30]:
mylist[4]

[45, 56, 12]

In [31]:
print(type(mylist))

<class 'list'>

In [32]:
mylist[4][1]

56

In [33]:
#slicing
# start : stop+1

In [34]:
print(mylist[0:3])

[23, 76, 'hello']

In [35]:
print(mylist[0:3],mylist[-2][0:2])

[23, 76, 'hello'] [45, 56]

In [36]:
mylist = [23,76,"hello,98.6,[45,56,12] ,true"]

In [37]:
mylist=[0]

In [40]:
mylist[0]=88

In [41]:
mylist

[88]

In [42]:
mylist

[88]

In [43]:
mylist = [88,76,"hello,98.6,[45,56,12] ,true"]

In [44]:
mylist

[88, 76, 'hello,98.6,[45,56,12] ,true']

In [45]:
mytuple =(23,76,"hello",98.6,[45,56,12],True)

In [47]:
d=[3,3,3,3,3,6,6,6,6,5,5,5,4,4,44,4,4,888,88,88]

In [48]:
set(d)

{3, 4, 5, 6, 44, 88, 888}

In [49]:
e=set(d)

In [50]:
f=list(e)

In [51]:
f

[3, 4, 5, 6, 44, 888, 88]

In [54]:
mydict = {"name":"faiz","age":24,"place":"mumbai"}

In [55]:
mydict["place"]

'mumbai'

In [56]:
mydict = {"name":["faiz","Saurav Prasad"],"age":24,"place":"mumbai"}

In [57]:
mydict

{'name': ['faiz', 'Saurav Prasad'], 'age': 24, 'place': 'mumbai'}

In [63]:
dd=[23,76,"hello",98.6,"world",56,12,67,99,True]

In [64]:
dd[2],dd[4]

('hello', 'world')

In [65]:
len(dd)

10

In [66]:
a = [23,76,"hello",98.6,"world",56,12,67,99,True]

In [67]:
a.insert(0,"hello")

In [68]:
a

['hello', 23, 76, 'hello', 98.6, 'world', 56, 12, 67, 99, True]

In [69]:
a.append("55")

In [70]:
a

['hello', 23, 76, 'hello', 98.6, 'world', 56, 12, 67, 99, True, '55']

In [71]:
#staments in python
# if,elif,else

In [72]:
var = 12

In [73]:
if var>13:
    print("hello")

In [74]:
if var>13:
    print("hello")
elif var== 12:
    print("zzzzz")
else:
    print("bye")

zzzzz

In [75]:
a = int(input("enter 1st number:"))
b = int(input("enter 2nd number:"))

enter 1st number:24
enter 2nd number:32

In [76]:
c = a + b

In [78]:
c

'2432'

In [79]:
c

'2432'

In [80]:
a = int(input("enter 1st number:"))
b = int(input("enter 2nd number:"))

enter 1st number:312
enter 2nd number:424

In [81]:
c = a + b

In [82]:
c

736

In [83]:
print(type(a))

<class 'int'>

In [85]:
# student will come and input their marks out of 100 you need to put the student  in his/her correct grade 
# 75-100 ---> Grade --->A
# 50-75 ----> Grade --->B
# 35-50 ----> Grade --->C
# <35   ----> Grade --->D

In [103]:
a = int(input("enter marks:"))    
if   a>=75 and a<= 100:
    print("grade a")
elif a>=50 and a<=74:
    print("grade b")
elif a>=35 and a<=49:   
    print("grade c")
elif a<35 and a>=0:
    print("failed")

enter marks:65
grade b

In [104]:
for i in range(0,50):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [108]:
for i in range(1,11):
    print("2","*",i,"=",i*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [109]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [110]:
mylist=[23,"hello","hi",45.9,"bye",12,76,"zero",0,99,[23,"one",12.7],77,11,(6,2,0),11.0]

In [111]:
 mylist=[23,"hello","hi",45.9,"bye",12,76,"zero",0,99,[23,"one",12.7],77,11,(6,2,0),11.0]
 print("tuples" ,mylist[13])

tuples (6, 2, 0)

In [115]:
 mylist=[23,"hello","hi",45.9,"bye",12,76,"zero",0,99,[23,"one",12.7],77,11,(6,2,0),11.0]
 print("tuples" ,mylist[13])
 print("integers",mylist[0],mylist[5],mylist[6],mylist[8],mylist[9],mylist[11],mylist[12])

tuples (6, 2, 0)
integers 23 12 76 0 99 77 11

In [117]:
 mylist=[23,"hello","hi",45.9,"bye",12,76,"zero",0,99,[23,"one",12.7],77,11,(6,2,0),11.0]
 print("tuples:" ,mylist[13])
 print("integers:",mylist[0],mylist[5],mylist[6],mylist[8],mylist[9],mylist[11],mylist[12])
 print("float:",mylist[3],mylist[14])
 print("strings:",mylist[1],mylist[2],mylist[4],mylist[7])
 print("list:",mylist[10])

tuples: (6, 2, 0)
integers: 23 12 76 0 99 77 11
float: 45.9 11.0
strings: hello hi bye zero
list: [23, 'one', 12.7]

In [124]:
mylist=[23,"hello","hi",45.9,"bye",12,76,"zero",0,99,[23,"one",12.7],77,11,(6,2,0),11.0]
tuples = []
integers = []
floats = []
strings = []
lists = []
for data in mylist:
    if (type(data))==tuple:
        tuples.append(data)
    elif (type(data))==int:
        integers.append(data)
    elif (type(data))==float:
        floats.append(data)
    elif (type(data))==str:
        strings.append(data)
    elif (type(data))==list:
        lists.append(data)
print("Tuples:", tuples)
print("Integers:", integers)
print("Floats:", floats)
print("Strings:", strings)
print("Lists:", lists)

Tuples: [(6, 2, 0)]
Integers: [23, 12, 76, 0, 99, 77, 11]
Floats: [45.9, 11.0]
Strings: ['hello', 'hi', 'bye', 'zero']
Lists: [[23, 'one', 12.7]]

In [4]:
n = int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number15
odd

In [7]:
#another method
i = 20
def pranav(n):
    if n%2==0:
        print("even")
    else:
        print("odd")

In [8]:
pranav(10)

even

In [9]:
a=[1,2,3,4,5,6,7,8,9,10]

In [10]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
for i in a:
    if i % 2 != 0:
        print(i)

1
3
5
7
9